.c0 {
  color: blue;
}

.c1 {
  color: green;
}

.c2 {
  color: turquoise;
}

.c3 {
  color: purple;
}

.c4 {
  color: orange;
}

.c5 {
  color: black;
}

.c6 {
  color: brown;
}

.c7 {
  color: gray;
}
